@import '../../../utils/colors.scss';

.market-container {
    width: 90%;
    margin: 5%  auto;
    min-height: 70%;

    .auction-panel {
        display: flex;
        justify-content: right;
        width: 100%;
        border-bottom: solid 2px $orange-hover;
        .quick-sell {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
            padding: 5px 10px;
        }

        .add-player {
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 10px;
        }

        .add-player {
            font-size: 18px;
            font-weight: 500;
            padding: 5px 10px;
            margin-bottom: 10px;
        }

        .remove-player {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
            padding: 5px 10px;
        }
    }
    
    .no-players {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .market-table {
        .market-table-head {
            &--row {
                cursor: default;
                .player {
                    padding-right: 0;
                    padding-left: 65px;
                    padding-right: 100px;
                }

                .position {
                    width: 5%;
                }

                .level {
                    width: 7%;
                }

                .action {
                    padding-right: 15px;
                    width: 10%;
                }

                .price {
                    margin-right: 70px;
                    margin-left: 70px;
                }

                .team {
                    padding-right: 60px;
                    padding-left: 60px;
                }

                .time {
                    display: none;
                }
            }
        }

        .market-table-body {
            height: unset;
            &--row {
                
                .player {
                    padding-right: 0;
                    padding-left: 25px;

                    .player-name {
                        margin-left: 5px;
                        &:hover {
                            cursor: pointer;
                            color: $orange-hover;
                        }
                    }
                }

                .position {
                    width: 5%;
                }

                .level {
                    width: 7%;
                }

                .action {
                    width: 10%;
                }

                .time {
                    display: none;
                }

                &:hover {
                    border-radius: unset;
                    background-color: unset;
                    cursor: default;
                }
            }

            &--cell {
                img {
                    width: 30px;
                    height: 30px;
                    border: unset;
                }

                a:hover {
                    color: $orange-hover;
                    cursor: pointer;
                }
            }
        }


        @media(min-width: 1200px) {
            .market-table-head {
                &--row {
                    .time {
                        display: table-cell;
                    }
                }
            }
    
            .market-table-body {
                &--row {
                    .time {
                        display: table-cell;
                    }
                }
            }
        }
    }

    .market-alert {
        top: 45%;
    }
}

.bid-auction {
    .modal-content {
        .bid-header {
            padding-top: 15px;
            background-color: $dark-blue-hover;
            color: white;
            .player {
                font-size: 20px;
                font-weight: 600;
            }
    
            .player-price {
                font-size: 18px;
            }
        }

        .bid-body {
            .bid-container {
                display: flex;
                justify-content: center;
                .auction-bid-value {
                    .input-bid {
                        width: 150px;
                        height: 40px;
                    }
                }
    
                .auction-btn {
                    margin-left: 20px;
                }
            } 
        }
    }
}

.buy-auction {
    .modal-content {
        background-color: $dark-blue-hover;
        color: white;
        .buy-header {
            display: flex;
            justify-content: center;
            background-color: $orange;
            font-size: 26px;
            font-weight: 600;
        }

        .buy-body {
            display: flex;
            justify-content: center;
            font-size: 18px;
        }

        .buy-footer {
            display: flex;
            justify-content: center;
            padding: 2px 12px;
            border-top: unset;

            .yes-btn {
                padding: 2px 15px 2px 15px;
                height: 36px;
                margin-right: 20px;
            }
            .no-btn {
                background-color: $grey-cancel;
                padding: 2px 15px 2px 15px;
                height: 36px;
            }
        }
    }
}

.add-auction {
    max-height: 550px;
    .modal-content {
        .add-auction-header {
            color: white;
            display: flex;
            flex-direction: column;
            .header-title {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .header-panel {
                display: flex;
                column-gap: 10px;
            }
        }

        .add-auction-body {
            background-color: $dark-blue-shadow;
            max-height: 400px;
            overflow-y: auto;
            
            .add-table {
                .add-table-body {            
                    &--cell {
                        color: white;
                        .player-radio {
                            color: white;
                        }
                    }
                }
            }
        }

        .add-auction-footer {
            background-color: $dark-blue-shadow;
            border-top: unset;
            display: block;
            .confirm-btn {
                float: left;
            }

            .cancel-btn {
                height: 41.5px;
                background-color: $grey-cancel;
            }
        }
    }
}

.quick-sell-auction {
    max-height: 500px;
    .modal-content {
        .quick-sell-header {
            color: white;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            border-bottom: unset;
        }

        .quick-sell-body {
            background-color: $dark-blue-shadow;
            max-height: 300px;
            overflow-y: auto;
            
            .quick-sell-table {
                .quick-sell-table-body {         
                    &--cell {
                        color: white;
                        .player-radio {
                            color: white;
                        }
                    }
                }
            }
        }

        .quick-sell-footer {
            background-color: $dark-blue-shadow;
            border-top: unset;
            display: block;

            .confirm-btn {
                float: left;
                font-size: 18px;
                font-weight: 500;
                padding: 5px 15px;
            }

            .cancel-btn {
                font-size: 18px;
                font-weight: 500;
                padding: 5px 15px;
                background-color: $grey-cancel;
            }
        }
    }
}

.remove-auction {
    max-height: 500px;
    .modal-content {
        .remove-header {
            color: white;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            border-bottom: unset;
        }

        .remove-body {
            background-color: $dark-blue-shadow;
            max-height: 300px;
            overflow-y: auto;
            
            .remove-table {
                .remove-table-body {         
                    &--cell {
                        color: white;
                        .player-radio {
                            color: white;
                        }
                    }
                }
            }
        }

        .remove-footer {
            background-color: $dark-blue-shadow;
            border-top: unset;
            display: block;

            .confirm-btn {
                float: left;
                font-size: 18px;
                font-weight: 500;
                padding: 5px 15px;
            }

            .cancel-btn {
                font-size: 18px;
                font-weight: 500;
                padding: 5px 15px;
                background-color: $grey-cancel;
            }
        }
    }
}