.login-wrapper {
position: absolute;
    top: 47%;
    left:50%;
    transform: translate(-50%, -50%);
    max-height: 950px;
}

.base-container {
  
    
  @media(min-width: 450px) {
    width: 375px;
  }

  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #182f44;
  padding-bottom: 20px;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid white;

  .alert {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .header {
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 15px;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 21em;
      margin-top: 20px;
      img {
        width: 75%;
        height: 100%;
        margin: auto;
        display: block;
      }
    }

    .form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 20px;
          margin-top: 10px;
        }
        input {
          min-width: 16em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 5px;
          transition: all 250ms ease-in-out;
          padding-right: 23px;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #fca86496;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #fd9139b2;
          }
        }

        select {
          width: 16em;
          max-height: 50px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          color: black;
          margin-bottom: 15px;
        }
      }

      .invalid-msg {
        max-width: 230px;
        margin-top: 0;
        margin-bottom: 15px;

        @if (display == none) {
          input {

          }
        }
      }
    }
  }
  .footer {
    margin-top: 2em;
    .link {
      color: white;

      &:hover {
        color: #ff5e00;
      }
    }
  }

  .button-div {
    margin-top: 2em;
  }
}