@import 'colors.scss';

.btn-orange {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: $orange;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
    background-color: $orange-hover;
    color: #fff;
    }

    &:active {
        transform: translateY(1px);
        background-color: $orange-hover;
        transition: all .1s;
    }

    &:focus {
    outline: none;
    }
}
.btn-blue {
    font-size: 20px;
    padding: 5px 20px;
    border: 0;
    background-color: $dark-blue;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;

    &:hover {
    background-color: $dark-blue-hover;
    color: #fff;
    transition: .5s ease;
    }

    &:active {
        transform: translateY(1px);
        background-color: $dark-blue-hover;
        transition: all .1s;
    }

    &:focus {
    outline: none;
    }
}

.orange-disabled {
    background-color: $orange-disabled;

    &:hover {
        background-color: $orange-disabled;
    }
}

.blue-disabled {
    background-color: $dark-blue-disabled;

    &:hover {
        background-color: $dark-blue-disabled;
    }
}