$orange: #f86401;
$orange-text: #d65905;
$orange-hover: #fd833d;
$orange-disabled: #ffad7d;
$orange-shadow: #f17c2e;
$orange-shadow-outside: #ff9751;
$orange-shadow-inset: #ff6600;
$dark-blue: #182f44;
$dark-blue-checked: #1a4a77;
$dark-blue-shadow: #193247;
$dark-blue-hover: #153a5c;
$dark-blue-disabled: #345472;
$dark-blue-active: #132535;
$dark-blue-unread: #205281;
$dark-blue-read: #1c3850;
$grey-cancel: #8d8a8a;